body {
    
    font-family: Arial;
    background-image:url("Background.jpg");
    background-size:100%;
    background-repeat:no-repeat;
}

.content {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.usertype {color: white;}

.boxbox {
    margin: auto!important;
    border: 0px solid #000000;
    border-radius: 20px;
    padding: 10px 40px;
    display: inline-block;
    background-color:#991a37;
}

.buttonbox {
    margin: auto;
    width: 250px;
  
    
}

.pure-button {
    border-radius: 5px;
    min-width: 280px;
      border: 1px solid white;
      background-color: #394B48;
      color:  #394B48;
     
}